.env
node_modules
*.wasm
.wrangler/
*.folder
*.har
*.proxymanlogv2
build/
.gocache
dist

/antigravity-oauth-proxy
/antigravity-oauth-proxy.exe
npm/antigravity-oauth-proxy
npm/antigravity-oauth-proxy.exe

sh.d.antigravity-oauth-proxy.plist
