.env
node_modules
*.wasm
.wrangler/
*.folder
*.har
*.proxymanlogv2
build/
.gocache
dist

/antigravity-oauth-proxy
/antigravity-oauth-proxy.exe
npm/antigravity-oauth-proxy
npm/antigravity-oauth-proxy.exe

com.antigravity-oauth-proxy.plist
com.gemini-proxy.plist
/gemini-proxy
/gemini-code-assist-proxy
